@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	min-width:400px;
	color:black;
	font-size:x-large;
	
}
header{
	margin:auto;
	padding:10px;
	font-size:30px;
	width:400px;
	text-align:center;
	margin-top:10px;
	color:black;
}
section{
	margin-top:20px;
	color:black;	
}
section table tr td input{
	width:90%;
	height:35px;
	outline:none;
	font-size:14px;
	color:black;
}
.registros{
	margin:auto;
	width:600px;
	margin-top:20px;
	border:1px solid #6F96DF;
	height:auto;
	padding:10px;
	color:black;
}

.formulario table tr td{
	padding:10px;
	color:black;
}
.formulario table tr td input{
	width:100%;
	outline:none;
	color:black;
}
.formulario table tr td select{
	width:100%;
	height:30px;
	outline:none;
	color:black;
}
.bien{
	background-color:#3CBE34;
	text-align:center;
	font-size:14px;
	
	padding:5px;
	color:black;
}