@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	

}

#fondo{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}

header{
	background-image: linear-gradient(bottom,#08298A,#084B8A);
	background-image: -webkit-linear-gradient(bottom,#08298A,#084B8A);
	background-image: -moz-linear-gradient(bottom,#08298A,#084B8A);
	background-image: -o-linear-gradient(bottom,#08298A,#084B8A);
	background-image: -ms-linear-gradient(bottom,#08298A,#084B8A);
	width:100%;
	height:50px;
	
}

header table tr td b{
	font-size:30px;
	margin-left:20px;
}

header table tr td label{
	margin-left:20px;
}

header table tr td a{
	margin-left:10px;
	text-decoration:none;
	
}

.login{
	width:400px;
	height:auto;
	padding:10px;
background: rgba(73,155,234,1);
background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(18,128,230,1) 16%, rgba(5,81,153,1) 59%, rgba(32,124,229,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(16%, rgba(18,128,230,1)), color-stop(59%, rgba(5,81,153,1)), color-stop(100%, rgba(32,124,229,1)));
background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(18,128,230,1) 16%, rgba(5,81,153,1) 59%, rgba(32,124,229,1) 100%);
background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(18,128,230,1) 16%, rgba(5,81,153,1) 59%, rgba(32,124,229,1) 100%);
background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(18,128,230,1) 16%, rgba(5,81,153,1) 59%, rgba(32,124,229,1) 100%);
background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(18,128,230,1) 16%, rgba(5,81,153,1) 59%, rgba(32,124,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
    border-radius: 20px;
	margin:auto;
	margin-top:60px;
	box-shadow:2px 2px 10px #484848;
	font-size:14px;
}
.login h2{
	color:#EFF856;
}
.login label{
	
}
.login input, select{
	width:60%;
	height:25px;
	outline:none;
}
.login button{
	width:50%;
	height:25px;
	cursor:pointer;
	 border-radius: 5px;
    border-color:black;
    -moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	margin-top:30px;
	background-color:#6C3;

	margin-bottom: 5px;

	margin-top: 5px;
	margin-left:100px;
	margin-right:100px;
	font-weight:bold;

}
.login button:hover{
	background-color:#E6D93E;
}
.error{
	background-color:#D50909;
	color:#FFF;
	padding:5px;
}


#recuperar
{
	background-color: #333;
	color:white;
	 border-radius: 5px;
    border-color:gray;
    -moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	margin-top:30px;
	width:50%;

	margin-bottom: 5px;
	Padding: 5px;
	margin-top: 5px;
	margin-left:100px;
	margin-right:100px;
}
